@media (max-width: 2400px ) {
    #image1 {
        max-width: 1600px;
        max-height: 625px;
    }
    #button0, #button1, #button2, #button3 {
        width: 1600px;
    }

}
@media (max-width: 2200px ) {
    #image1 {
        max-width: 1500px;
        max-height: 580px;
    }
    #button0, #button1, #button2, #button3 {
        width: 1500px;
    }
}
@media (max-width: 2050px ) {
    #image1 {
        max-width: 1350px;
        max-height: 540px;
    }
    #button0, #button1, #button2, #button3 {
        width: 1300px;
    }
}
@media (max-width: 1850px ) {
    #image1 {
        display: none;
    }
    #image2 {
        display: block;
    }
    #button0, #button1, #button2, #button3 {
        width: 1100px;
    }
}
@media (max-width: 1550px ) {
    #titleImg {
        max-width: 395px;
        max-height: 155px;
    }
    #image2 {
        max-width: 900px;
        max-height: 600px;
    }
    #button0, #button1, #button2, #button3 {
        width: 850px;
    }
}
@media (max-width: 1250px ) {
    #titleImg {
        max-width: 325px;
        max-height: 115px;
    }
    #image2 {
        max-width: 700px;
        max-height: 425px;
    }
    #button0, #button1, #button2, #button3 {
        width: 650px;
    }
}
@media (max-width: 1000px ) {
    #image2 {
        max-width: 600px;
        max-height: 375px;
    }
    #button0, #button1, #button2, #button3 {
        width: 525px;
    }
}
@media (max-width: 850px ) {
    #image2 {
        max-width: 500px;
        max-height: 290px;
    }
    #button0, #button1, #button2, #button3 {
        width: 450px;
    }
}
@media (max-width: 750px ) {
    #titleImg {
        max-width: 280px;
        max-height: 90px;
    }
    #image2 {
        max-width: 275px;
        max-height: 175px;
    }
    #button0, #button1, #button2, #button3 {
        width: 350px;
        font-size: 30px;
    }
}
@media (max-width: 600px ) {
    #button0, #button1, #button2, #button3 {
        width: 250px;
    }
}
@media (max-width: 450px ) {
    #titleImg {
        display: none;
    }
    #image2 {
        display: none;
    }
    #titleImg2 {
        display: block;
    }
    #button0, #button1, #button2, #button3 {
        width: 200px;
    }
}
