@media (max-width: 2400px ) {
    #button0, #button1, #button2, #button3 {
        width: 1600px;
    }

}
@media (max-width: 2200px ) {
    #button0, #button1, #button2, #button3 {
        width: 1500px;
    }
}
@media (max-width: 2050px ) {
    #button0, #button1, #button2, #button3 {
        width: 1300px;
    }
}
@media (max-width: 1850px ) {
    #button0, #button1, #button2, #button3 {
        width: 1100px;
    }
}
@media (max-width: 1550px ) {
    #titleImg {
        max-width: 395px;
        max-height: 155px;
    }
    #button0, #button1, #button2, #button3 {
        width: 850px;
    }
}
@media (max-width: 1250px ) {
    #question {
        font-size: 2.2em;
        margin-left: 30px;
        margin-right: 30px;
    }
    #titleImg {
        max-width: 325px;
        max-height: 115px;
    }
    #button0, #button1, #button2, #button3 {
        width: 700px;
    }
}
@media (max-width: 1000px ) {
    #button0, #button1, #button2, #button3 {
        width: 540px;
    }
    #result {
        font-size: 2.8em;
    }
    #score {
        font-size: 55px;
    }
    #scoreNumber {
        font-size: 90px;
    }
}
@media (max-width: 850px ) {
    #question {
        font-size: 2em;
        margin-left: 22px;
        margin-right: 22px;
    }
    #button0, #button1, #button2, #button3 {
        width: 475px;
    }
    #progress {
        font-size: 20px;
    }
}
@media (max-width: 750px ) {
    #result {
        font-size: 1.9em;
    }
    #score {
        font-size: 50px;
    }
    #scoreNumber {
        font-size: 80px;
    }
    #titleImg {
        max-width: 280px;
        max-height: 90px;
    }
    #button0, #button1, #button2, #button3 {
        width: 350px;
        font-size: 30px;
    }
}
@media (max-width: 600px ) {
    .colourBlock {
        margin-left: 5%;
        margin-right: 5%;
    }
    #button0, #button1, #button2, #button3 {
        width: 350px;
        font-size: 25px;
        letter-spacing: 0px;
    }
}
@media (max-width: 500px ) {
    .colourBlock {
        margin-left: 2%;
        margin-right: 2%;
    }
    #question {
        margin-left: 10px;
        margin-right: 10px;
    }
    #titleImg {
        display: none;
    }
    #titleImg2 {
        display: block;
    }
    #button0, #button1, #button2, #button3 {
        width: 300px;
    }
    #result {
        font-size: 1.8em;
    }
    #score {
        font-size: 40px;
    }
    #scoreNumber {
        font-size: 70px;
    }
}
